@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color:white;
  height: 100%;
}
:root{
  --index: 26px;
  /* overflow: hidden; */
}
a{
  color: black;
}
a:active{
  color: black;
}
a:hover{
  color: black;
}
a:visited{
  color: black;
}
body {
  background-color: white;
}
.App{
  font-family: 'Inter';
}